<link rel="stylesheet" href="/public/filme_do_dia.css" />
    <div class="container margin-top-7">
      <div class="row">
        <% let j = 0;  %>
          <% do{ %> 
            <% for(let i = 0; i <4; i++){ %> 
              <% if(filme[j+i] != null){ %> 
              <div class="col-lg-3">
                <div class="card img-galeria" style="width: 100%;">
                  <img class="card-img-top" style="max-height: 15rem;" src="https://coisasdatv.com.br/wp-content/uploads/2021/06/you-netflix-joe-o-que-pode-vir-ai-terceira-temporada-123131_widelg1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title color-black text-center"><%= filme[j+i].nome %></h5>
                    <a class="btn botao width-100" onclick="mostraDetalhes(`${this.id}`);" id='<%= filme[j+i].idFilme %>'>SAIBA MAIS</a>
                  </div>
                </div>
                </div>

              <% } }%>
              <% for(let i = 0; i <4; i++){ %> 
                <% if(filme[j+i] != null){ %> 
              <div class="saibamais hide" id="<%= filme[j+i].idFilme %>">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3 style ="font-size: 1.8rem;"><%= filme[j+i].nome  %>  </h3>
                      <p style ="font-size: 1.2rem;"><%= filme[j+i].sinopse  %>  </p>
                    </div>
                    <div class="col-sm-6">
                      <img style="max-width: 100%;" src="https://coisasdatv.com.br/wp-content/uploads/2021/06/you-netflix-joe-o-que-pode-vir-ai-terceira-temporada-123131_widelg1.jpg">
                    </div>
                  </div>  
                </div>
              </div>
              <% } }%>
              <% j = j + 4%> 

          <% if(j%4 == 0){ %>
            </div>
            <div class="row">
          <% } %> 
          <% }while(j<filme.length) %> 
      </div>

<script>
let maisArr = [];
let mais = document.querySelectorAll('.saibamais');
    console.log(mais)
    for(let item of mais){
      maisArr.push(item);
    }
  console.log(maisArr);

let botao = document.querySelectorAll('.botao');
let botaoArr = [];
  for(let item of botao){
      botaoArr.push(item.id);
    }
  console.log(botaoArr)

  function mostraDetalhes(event){
    console.log(event)
    let posicao = botaoArr.indexOf(event)

    for(let i = 0; i<mais.length; i++){
      if(mais[i].classList.contains('show') && mais[i] != mais[posicao]){
      mais[i].classList.remove('show');
      mais[i].classList.add('hide');
      }
    }
    
    if(mais[posicao].classList.contains('hide')){
      mais[posicao].classList.remove('hide');
      mais[posicao].classList.add('show');
    }else{
      mais[posicao].classList.remove('show');
      mais[posicao].classList.add('hide');
    }
  }
  </script>
</div>