<link rel="stylesheet" href="/public/filme_do_dia.css" />
    <div class="container margin-top-7">
      <div class="row">
        <% let j = 0;  %>
          <% do{ %> 
            <% for(let i = 0; i <4; i++){ %> 
              <% if(filme[j+i] != null){ %> 
              <div class="col-sm-3">
                <div class="card img-galeria" >
                  <img class="card-img-top" style="max-width: 100%;" src="https://coisasdatv.com.br/wp-content/uploads/2021/06/you-netflix-joe-o-que-pode-vir-ai-terceira-temporada-123131_widelg1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title color-black text-center"><%= filme[j+i].nome %></h5>
                    <a class="btn botao width-100" onclick="mostraDetalhes('preview<%= filme[(j+i)].idFilme %>');">SAIBA MAIS</a>
                  </div>
                </div>
                </div>

              <% } }%>
              <% for(let i = 0; i <4; i++){ %> 
                <% if(filme[j+i] != null){ %> 
              <div class="saibamais hide" id="preview<%= filme[j+i].idFilme %>">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3 style ="font-size: 1.8rem;"><%= filme[j+i].nome  %>  </h3>
                      <p style ="font-size: 1.2rem;"><%= filme[j+i].sinopse  %>  </p>
                    </div>
                    <div class="col-sm-6">
                      <img style="max-width: 100%;" src="https://coisasdatv.com.br/wp-content/uploads/2021/06/you-netflix-joe-o-que-pode-vir-ai-terceira-temporada-123131_widelg1.jpg">
                    </div>
                  </div>  
                </div>
              </div>
              <% } }%>
              <% j = j + 4%> 

          <% if(j%4 == 0){ %>
            </div>
            <div class="row">
          <% } %> 
          <% }while(j<filme.length) %> 
      </div>

<script>
let ultimo = null;

  function mostraDetalhes(id){
    if (ultimo) {
      ultimo.classList.remove('show');
      ultimo.classList.add('hide');
    }

    ultimo = document.getElementById(id);
    ultimo.classList.remove('hide');
    ultimo.classList.add('show');
  }
  </script>
</div>